.QR-box{
display: flex;
margin: 2%;
}

.form-control{
    height: 300px !important;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.input-txt{
    display: inline-grid;
    width: -webkit-fill-available;
}

.img-thumbnail{
    width: 400px;
}